body{width: 30rem;}
.ext-body h2 {
    font-size: 18px;
    font-weight: 600;
    color: #303030;
    text-transform: uppercase;
    margin: 20px 0;
}

#spinner{ min-height:217px; display: none;}
.loader{
    border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;width: 120px;height: 120px;-webkit-animation: spin 2s linear infinite; /* Safari */animation: spin 2s linear infinite;margin-top: 20%;margin-left: 35%;
}

.titile-2 {
    margin: 20px!important;
}

.card {
    -webkit-box-shadow: 1px 2px 6px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 2px 6px 2px rgba(0,0,0,0.25);
	box-shadow: 1px 2px 6px 2px rgba(0,0,0,0.25);
	border: none;
}

label:focus,
input:focus,
button:focus,
a:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
}

input {
    box-shadow: none !important;
    outline: none !important;
}

input:focus {
    box-shadow: none !important;
    outline: none !important;
}

::before {
    box-shadow: none !important;
    outline: none !important;
}

a {
    color: #0057FF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mb-1 {
    margin-bottom: 10px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-0 {
    margin-top: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.no-border {
    border: none !important;
}

.ext-body form label {
    font-size: 12px;
    font-weight: 500;
    color: 606060;
    line-height: 24px;
}

.ext-body form input {
    min-height: 44px;
}

.ext-body .lnk-1 {
    font-size: 12px;
    color: #0057FF;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
}

.ext-body span.caption {
    font-size: 12px;
    color: 909090;
    font-weight: 400;
    display: block;
    margin: 20px 0;
} 

.ext-body span.caption a {
    font-weight: 500;
    color: #0057FF;
    text-transform: uppercase;
    text-decoration: none;
}

.logo {
    margin: 0 auto;
}

.btn-white {
    background: #fff !important;
    color: #0057FF !important;
}

.btn-primary {
    background: #09abe0;
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border: none;
}

.btn-primary:hover {
	background: #0D61A5;
}

footer {
    margin: 10px 0;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #909090;
}

.navbar {
    padding: 0;
    float: right;
    margin: 0;
}

.navbar .br-1 {
    border-right: 1px solid #909090;
}

.navbar li {
    list-style: none;
    color: #fff;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu .bt-1 {
    border-top: 1px solid #f6f6f6;
}

.dropdown-menu .dropdown-item {
    padding: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #303030;
}

.dropdown-menu .dropdown-item img {
    margin-right: 10px;
}

.card header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card header .logout {
    display: block;
    float: right;
    padding: 23px 26px;
    border-left: 1px solid #979797;
}

.card header .settings {
    float: right;
    padding: 23px;
}
.card header .settings:hover {
    background: #1B1C2A;
}

.card header .logout:hover {
    background: #1B1C2A;
    border-top-right-radius: 4px;
}

.welcome-cont {
    margin: 15px 14px;
    overflow: auto;
    float: left;
}

.welcome-cont p {
   font-size: 14px;
   color: #fff;
   margin: 0 10px;
   float: left;
   line-height: 33px;
   font-weight: 500;
   width: 140px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.welcome-cont .avtar {
    background: #0057FF;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 14px;
    float: left;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
}

.viral {
    background: #0057FF;
    /* padding: 15px; */
}

.viral h5 {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.viral .float-right img {
    margin: 10px 0;
}

.viral p {
    font-size: 10px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}

.settings-list {
    padding: 0;
    margin: 0;
}

.settings-list li {
    padding: 15px;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
    overflow: auto;
}

.settings-list li .float-left {
    max-width: 9rem;
}

.settings-list li p{
    font-size: 12px;
    color: #606060;
    margin: 0;
    padding: 0;
    display: block;
    font-weight: 500;
}

.settings-list li span {
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    line-height: 19px;
    padding-left: 26px !important;
}

.settings-list li .grey-link {
    font-size: 10px;
    color: #909090;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
.settings-list li .grey-link img {
    margin-right: 5px;
}

.settings-list li .link {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0057FF;
    font-weight: 600;
}

.settings-list li .link img {
    margin-right: 10px;
}

.viral-collaps {
    display: block;
    overflow: auto;
}

.viral-details h3 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
}

.viral-details form {
    padding: 0 20px;
    overflow: auto;
}

.viral-details form input {
    background: none;
    color: #fff !important;
    border-color: #fff;

}
.viral-details form ::placeholder {
    color: #fff !important;
}

.viral-details form input:focus {
    background: none;
}

.viral-details form  .form-control:focus{
    border-color: #fff;
}

.viral-details form label {
    font-size: 12px;
    color: #fff;
}

.viral-details form textarea {
    background: none !important;
    border-color: #fff;
    color: #fff !important;
}

.viral-details .close-area {
    display: block;
    cursor: pointer;
}

.viral-details .close-area span {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-top: 5px;
}

.formrow .show {
    float: right;
    position: absolute;
    right: 20px;
    margin-top: 14px; 
    z-index: 100;
}

.formrow .hide {
    float: right;
    position: absolute;
    right: 20px;
    margin-top: 14px; 
    z-index: 100;
}
/************* By Nitin ****************/
.checkbox-slider input[type="checkbox"]:focus + *:before, .checkbox-slider--default input[type="checkbox"]:focus + *:before, .checkbox-slider--a-rounded input[type="checkbox"]:focus + *:before, .checkbox-slider--a input[type="checkbox"]:focus + *:before, .checkbox-slider--b input[type="checkbox"]:focus + *:before, .checkbox-slider--b-flat input[type="checkbox"]:focus + *:before, .checkbox-slider--c input[type="checkbox"]:focus + *:before, .checkbox-slider--c-weight input[type="checkbox"]:focus + *:before, .checkbox-toggle input[type="checkbox"]:focus + *:before {
	outline: none; 
}

#tab2,#no-template-box{display:none;}
#tab2 .initial-tabs,.extension-inner-screens{ display: none; }	
.Login{ display: block; }  

label.error{ color:red !important }
header, .viral, .ext-body, #viral-link, .viral-details{ float:left; width:100%; }

.alert{ float: left; width: 100%; margin-top: 5px; }

textarea, #template-detail input{ width: 100%; }
.viral-details{ display:none; }

.dropdown-menu { right:0; left: unset; }
.dropdown-item.active, .dropdown-item:active{background:none;}
.hide{display:none;}
#head-name{ word-break: break-word; }
table tr td:nth-child(1) {
    width: 50%;
}

.template-note {
    margin: 10px 0;
}

.template-note p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #909090;
}
.tabs{ width:100%; }
#message-templates tr td:nth-child(2) {
    padding: 5px;
}
.ext-body form input[type='radio']{
	min-height:0;
	    margin-right: 10px;
}
label.radio-inline {
    margin-right: 10px;
}
.custom-control{
	display:inline-block;
}
a.btn.btn-primary.btn-white{
	margin-bottom:10px; 
}

.mail-action{
	padding-left:10px;
}
.mail-action a{
	font-size:13px;
}

#credentials-form-box .btn-primary {
    background: #09abe0;
    padding: 10px 20px;
}
#tag-line{font-size: 15px; text-transform: none;}
#tag-line p{padding:20px 0 10px 0;}
#google_sheet_url{ padding-right: 65px; }
#google_sheet_template{ font-size: 12px; }
#chrome-rating-heading{ margin: 10px 0 }
#chrome-rating-desc{ margin: 0 0 10px 0 }
.eye{ float:right; margin: -34px 10px 0 0;}
.extension-inner-screens,#features-settings{height:390px}
#features-settings{overflow-y:scroll;}
.close-window{font-weight:bold;padding:0;margin:0;}
.ext-body{
	padding-top:0px !important;
}

ul.pagination{
    float: right;
    border: 1px solid grey;
}

ul.pagination li {
	font-size: 15px;
	padding: 3px;
	border: unset;
}

ul.pagination li.active {
	color: white !important; 
	background:#0062cc;
	pointer-events: none;
	cursor: default;
}
ul.pagination li.active a{
	pointer-events: none;
	cursor: default;
	color: white;  background:#0062cc;
}
ul.pagination li a {
    color: #007bff;
    padding: 5px;
    border-radius: 7px;
}
a.delete_tab{
    margin-left: 6px !important;
}
i.fa{ color: #000;}
.add-tab-container .btn{
	font-weight:bold; 
}
.add-tab-container{
	margin: 10px 0;	
}

/*******************/
.formRow{
	margin:5px auto !important;
}


/************* By Nitin ****************/
.checkbox-slider input[type="checkbox"]:focus + *:before, .checkbox-slider--default input[type="checkbox"]:focus + *:before, .checkbox-slider--a-rounded input[type="checkbox"]:focus + *:before, .checkbox-slider--a input[type="checkbox"]:focus + *:before, .checkbox-slider--b input[type="checkbox"]:focus + *:before, .checkbox-slider--b-flat input[type="checkbox"]:focus + *:before, .checkbox-slider--c input[type="checkbox"]:focus + *:before, .checkbox-slider--c-weight input[type="checkbox"]:focus + *:before, .checkbox-toggle input[type="checkbox"]:focus + *:before {
	outline: none; 
}

#tab2,#no-template-box{display:none;}
.initial-tabs,.extension-inner-screens{ display: block; }	
#board-request-screen{ display: block; }  

label.error{ color:red !important }
header, .viral, .ext-body, #viral-link, .viral-details{ float:left; width:100%; }

.alert{ float: left; width: 100%; margin-top: 5px; }

textarea, #template-detail input{ width: 100%; }
.viral-details{ display:none; }

.dropdown-menu { right:0; left: unset; }
.dropdown-item.active, .dropdown-item:active{background:none;}
.hide{display:none;}
#head-name{ word-break: break-word; }
table tr td:nth-child(1) {
    width: 50%;
}

.template-note {
    margin: 10px 0;
}

.template-note p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #909090;
}
.tabs{ width:100%; }
#message-templates tr td:nth-child(2) {
    padding: 5px;
}
.ext-body form input[type='radio']{
	min-height:0;
	    margin-right: 10px;
}
label.radio-inline {
    margin-right: 10px;
}
.custom-control{
	display:inline-block;
}
a.btn.btn-primary.btn-white{
	margin-bottom:10px; 
}

.mail-action{
	padding-left:10px;
}

.container{
	margin-top:20px;
}

blockquote{
	font-size: 15px !important;
}

#keyword{
	float:left;
	width:70%;
}
#keyword-type{
	width:30%;
}
.logo-box{
	padding:5px;
}
textarea{
	color:#000000;
}


.navbar .nav-link.active {
    /* background: #000; */
    border-bottom: 3px solid red;
}
.navbar .nav-link {
    padding: 18px;
    color: #000000;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.navbar .nav-link:hover {
    border-bottom: 3px solid red;
}

#blacklist_form select{
	height:44px;
}

.blacklist-urls-container{
	height:235px;
}

.custom-switch .custom-control-label::before{
	width: 3.5rem;
    border-radius: 1rem;
	height: 2rem;
}

.custom-switch .custom-control-label::after{
	width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    border-radius: 1rem;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after{
	transform: translateX(1.5rem);
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #28a745;
    background-color: #28a745;
}

.btn-primary{
	background-color:#F20E0F;
}

#tab2 .ext-body{
	padding: 10px 20px;
}
a[disabled]{
	color:gray;
	cursor:not-allowed;
}
.tabs{
	display:none;	
}

#dashboard{
	display:block;
}

.cookie-result {
    text-align: center;
}
.cookie-result p {
    font-size: smaller;
}